MONGODB_URI=
BASE_URL=http://localhost:3000
AUTH_URL=http://localhost:3000
AUTH_SECRET=
JWT_SECRET=
ACTIVATION_TOKEN_SECRET=
EMAIL_TOKEN_SECRET=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
CLOUDINARY_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=
MAIL_FROM=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
