@import "tailwindcss";
@plugin "tailwind-scrollbar-hide";

@source "../pages";
@source "../components";

@theme {
    --color-amazon-blue_light: #232f3e;
    --color-amazon-blue_dark: #131921;
    --color-amazon-orange: #febd69;
}

@utility link {
    @apply cursor-pointer hover:underline;
}

@utility show-account-popup {
    @apply invisible opacity-0 transition duration-500 cursor-default;
    .show-account:hover & {
        @apply visible opacity-100;
    }
}

@utility show-account {
    &:hover .show-account-popup {
        @apply visible opacity-100;
    }
}

@utility show-language-popup {
    @apply invisible opacity-0 transition duration-500 cursor-default;
    .show-language:hover & {
        @apply visible opacity-100;
    }
}

@utility show-language {
    &:hover .show-language-popup {
        @apply visible opacity-100;
    }
}

@utility button-orange {
    @apply bg-linear-to-b from-[#f8e3ad] to-[#EEBA37] border border-[#b0820f] rounded-sm;
}

@utility menu-sidebar {
    & h3 {
        @apply font-bold text-sm md:text-base px-8 py-3;
    }
    & ul > li {
        @apply text-sm md:text-base flex items-center px-8 py-2.5 md:py-3 hover:bg-gray-200 cursor-pointer;
    }
    & ul > li svg {
        @apply h-5 ml-auto text-gray-500 stroke-3;
    }
}

@utility link-footer {
    & ul {
        @apply text-slate-200 text-xs space-y-2;
    }
    & h5 {
        @apply font-semibold text-white mb-3;
    }
    & ul > li {
        @apply hover:underline;
    }
}

@utility footer-link-services {
    & li {
        @apply w-24 hover:underline text-slate-300 text-xs;
    }
    & li p {
        @apply text-[#999];
    }
}
